h3 {
  text-align: center;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.title {
  color: var(--clr-grey-1);
  font-family: var(--ff-primary);
  font-size: 100px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  line-height: 2;
  position: absolute;
  margin-left: 270px;
  animation: slideFromRight 5s ease-in-out 1;
}

.contactTitle {
  position: absolute;
  right: 20rem;
}
.contactpah {
  position: absolute;
  right: 10rem;
  margin-top: 5rem;
  width: 20rem;
}
.socialMedia {
  position: absolute;
  right: 10rem;
  margin-top: 15rem;
  width: 20rem;
}
.imgIcon {
  padding: 30px;
}

.footer {
  background: var(--clr-grey-10);
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-flow: wrap;
}

header {
  position: relative;
  min-height: 100vh;
  background: url("../../images/ticket.jpg") center/cover no-repeat fixed;
}
.image {
  position: relative;
  margin-bottom: -30px;
  margin-left: 130px;
}

.contentdivider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-grey-1),
    #e9b949,
    var(--clr-grey-1)
  );
}

.info {
  position: relative;
  float: left;
  padding: 3.5rem;
  margin-left: 20px;
  font-family: var(--ff-secondary);
  text-transform: lowercase;
  border-radius: var(--radius);
  width: 310px;
  margin: auto;
  margin-top: 15px;
  background: var(--clr-grey-10);
  min-height: 20rem;
  margin-right: 10px;
}
.clearfix {
  margin-left: 3rem;
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.info:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-bottom: 0.2rem solid #678e3e;
  background: var(--clr-white);
}
.info:hover .image {
  transform: translateY(-10px);
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 5rem;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .contactpah {
    width: 10px;
    left: 26rem;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
