.toolbar {
  padding: 15px;
  background-color: #dddddd;
}

.home {
  text-decoration: none;
  font-size: var(--size);
  color: black;
  border-width: 2px black solid;
  border: 0.05rem solid;
  border-radius: var(--radius);
  background: #429acc;
  border-color: #ffa400;
  margin-left: 2px;
  border-width: 4px;
  font-style: italic;
  position: relative;
  padding-left: 10px;
}
.Purchase {
  display: inline-block;
  text-decoration: none;
  font-size: var(--size);
  color: black;
  padding-left: 7px;
  border: 0.05rem solid;
  border-radius: var(--radius);
  background: #429acc;
  border-color: #ffa400;
  border-width: 4px;

  position: relative;
  margin-right: 22px;
  left: 15px;
  padding-bottom: 7px;
  font-style: italic;
  text-transform: capitalize;
  height: 15px;
}
.store {
  position: relative;
  font-style: italic;
  font-size: var(--size);
  border: 0.05rem solid;
  border-radius: 0.5rem;
  background: #429acc;
  border-color: #ffa400;
  border-width: 4px;
  text-transform: capitalize;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 6px;
}
.Purchase:hover,
.login:hover,
.home:hover {
  color: blue;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.container {
  position: relative;
  margin-left: 1180px;
  top: 30px;
  max-width: 2px;
}

.login {
  position: relative;
  margin-left: 900px;
  top: 0px;
  width: 20px;
  text-decoration: none;
  font-style: italic;
  font-size: 1.21rem;
  color: black;
  border: 0.05rem solid;
  border-radius: 0.5rem;
  background: #429acc;
  border-color: #ffa400;
  border-width: 4px;
  padding-top: 0.1px;
  padding-left: 2px;
}

@media screen and (min-width: 500px) {
  .toolbar {
    height: 40px;
  }
}
