.card {
  font-family: var(--ff-primary);
  width: 250px;
  height: 250px;
  background-color: var(--clr-grey-10);
  margin-top: 20px;
  margin-left: 25px;
  border-radius: var(--radius);
  border: 0.1rem solid black;
  margin-bottom: 20px;
}
.card :hover {
  transform: scale(1.1);
}

.purchasebtn {
  background-color: var(--clr-primary-light);
  position: relative;
  text-decoration: none;
  margin-left: 90px;
  margin-top: 60px;
  border: 3px solid var(--clr-green);
  border-radius: var(--radius);
  font-family: var(--ff-primary);
  border-radius: 3px;
}
